.Header{
  width: 100%;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1080px)
{
.Header{
  background-color: #fff;
  z-index: 10;
 }
}

.HeaderNavHumbeurger{
  display: none;
}

@media screen and (max-width: 1080px)
{
.HeaderNavHumbeurger{
  cursor: pointer;
  display: block;
  position: relative;
  width: 30px;
  height: 21px;
  z-index: 100;
 }
}

@media screen and (max-width: 1080px)
{
.HeaderNavHumbeurger_line{
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333333;
  transform: translate(0, -50%);
  border-radius: 10px;
  transition: top 0.2s, transform 0.2s, opacity 0.3s;
 }
}

@media screen and (max-width: 1080px)
{
.HeaderNavHumbeurger_line:first-child{
  top: 0;
 }
}

@media screen and (max-width: 1080px)
{
.HeaderNavHumbeurger_line:last-child{
  top: 100%;
 }
}

.Header_container{
  display: flex;
  justify-content: space-between;
  margin: 0 36px 0 36px;
  max-width: 100%;
  position: relative;
}

@media screen and (min-width: 768px)
{
.HeaderLogo {
  transition: opacity 0.2s;
 }
}

.HeaderLogo_image{
  display: block;
  height: 20px;
  width: auto;
}

.HeaderLogo_image:hover{
  opacity: 0.8;
}


.HeaderNav_list{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

@media screen and (max-width: 1080px)
{
.HeaderNav_list {
  overflow-y: scroll;
  position: fixed;
  top: 60px;
  left: 100%;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 75px;
  transition: transform 0.5s;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-overflow-scrolling: touch;
  height: 100%;
 }
}

.HeaderNavListItem{
  margin-right: 45px;
}

@media screen and (min-width: 768px)
{
  .HeaderNavListItem{
    transition: opacity 0.2s;
  }
}

.HeaderNavListItem_button{
 align-items: center;
 background-color: #F79214;
 border: none;
 border-radius: 38px;
 color: #fff;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 font-weight: 700;
 justify-content: center;
 text-decoration: none;
 text-align: center;
 width: 100%;
 font-size: 12px;
 height: 40px;
 padding: 0 20px;
}

.HeaderNavListItem:hover{
  opacity: 0.8;
}

@media screen and (min-width: 768px)
{
.HeaderNavListItem__button {
 transition: opacity 0.2s;
 }
}

body{
  color: #333333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
   font-size: 14px;
  font-weight: 500;
  display: block;
  -webkit-font-smoothing: antialiased;
}

main{
  display: block;
}

section{
  display: block;
}

a{
  text-decoration: none;
  color: #333333;
}

div{
  display: block;
}

span{
  display: block;
  font-weight: 700;
  text-align: center;
}

span:last-child{
  font-size: 10px;
}

h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.FirstView{
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
  
}

@media screen and (max-width: 767px)
{
.FirstView {
  background-image: none;
  padding-top: 0;
  padding-bottom: 35px;
 }
}

.FirstView_MainImage{
  display: none;
}

@media screen and (max-width: 767px)
{
  .FirstView_MainImage{
    display: block;
    width: 100%;
  }
}

.FirstView_container{
  max-width: 1140px;
  padding-left: 50px;
   padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 767px)
{
.FirstView_container {
  margin-top: -45vw;
  max-width: none;
  padding-left: 20px;
  padding-right: 20px;
 }
}

.FirstView_content{
  margin-bottom: 70px;
  width: fit-content;
}

@media screen and (max-width: 767px)
{
.FirstView_content {
  margin-bottom: 20px;
  width: 100%;
 }
}

.FirstViewContent_title{
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  line-height: 54px;
}

@media screen and (max-width: 767px)
{
.FirstViewContent_title{
  font-size: 25px;
  line-height: 36px;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
 }
}

.FirstViewContent_images{
  margin-bottom: 25px;
}

.FirstViewContent_images img{
  margin-right: 8px;
}

.FirstViewContent_images img:nth-of-type(2){
  width: 40%;
}

.FirstViewContent_images img:last-of-type {
   margin-right: 0;
}

@media screen and (max-width: 767px)
{
.FirstViewContent_images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
 }
}

@media screen and (max-width: 767px)
{
.FirstViewContent_images img {
    width: 27.5%;
 }
}

img{
  vertical-align: middle;
  border: 0;
}

.FirstViewContent_buttons{
  display: flex;
}

@media screen and (max-width: 767px)
{
.FirstViewContent_buttons{
  flex-direction: column;
 }
}

.FirstViewContent_buttons a{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  height: 64px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px)
{
.FirstViewContent_buttons a:first-of-type {
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100% !important;
 }
}

@media screen and (max-width: 767px)
{
.FirstViewContent_buttons a{
  font-size: 14px;
  width: 100% !important;
 }
}

.FirstViewContent_buttons a:first-of-type{
  margin-right: 15px;
  width: 306px;
}

.FirstViewContent_buttons a:last-of-type{
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #333333;
  width: 176px;
}

@media screen and (max-width: 767px)
{
.FirstViewContent_buttons a:last-of-type {
    height: 45px;
 }
}

.FirstViewContent_buttons a:hover{
  opacity: 0.8;
}

@media screen and (min-width: 768px)
{
.FirstViewContent__buttons a {
    transition: opacity 0.2s;
 }
}

.FirstView_caption{
 color: #A2A2A4;
 font-size: 12px;
}

.FirstView_caption a {
   color: #A2A2A4;
}

p{
  line-height: 1.5;
}

.AboutWrapper{
  background-color: #F79214;
  padding: 45px 0;
}

@media screen and (max-width: 767px)
{
.AboutWrapper{
  padding: 30px 0;
 }
}

.About{
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px)
{
.About {
  flex-direction: column;
 }
}

@media screen and (max-width: 767px)
{
.About {
  max-width: none;
  padding-left: 20px;
  padding-right: 20px;
 }
}

.About_title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  width: 53%;
}

@media screen and (max-width: 1024px)
{
.About_title {
  margin-bottom: 0;
  width: 100%;
 }
}

.About_title br {
  display: none;
}

@media screen and (max-width: 767px)
{
.About_title br {
  display: block;
 }
}

.About_title h2{
  font-size: 40px;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 700;
  line-height: 74px;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px)
{
.About_title h2 {
  font-size: 30px !important;
  text-align: center;
  line-height: 1.2;
 }
}

.About_title h2>span{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: left;
  display: inline;
}

@media screen and (max-width: 767px)
{
.About_title h2>span {
  font-size: 33px;
  letter-spacing: 1px;
 }
}

.About_title p{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px;
  color: #fff;
  text-align: left;
  display: inline-block;
}

.About_button{
 width: 250px;
}

.About_button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1024px)
{
.About_button {
  margin-top: 40px;
 }
}

.About_button a{
  color: #F79214;
  background-color: #fff;
  border-radius: 38px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About_button a span:first-child{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.About_button a span:last-child{
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 768px)
{
.About_button a {
  transition: opacity 0.2s;
 }
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}